body {
	font-family: 'Ranchers', cursive;
	margin: 0;
	padding: 0;
	background-color: rgba(192, 170, 98, 0.637)
}
header {
	background: url(../img/footer.png) no-repeat center top / cover;
	height: 100vh;
}
.title{
	font-size: 80px;
	margin-top: 30px;
	text-align: center;
}
.sait{
	margin-top: 60px;
	font-size: 50px;
	margin-left: 150px;
	text-align: center;
}
.disk{
	margin-top: 60px;
	font-size: 50px;
	margin-left: 100px;
	text-align: center;
}
.button {
	background: #fe9436;
	display: block;
	width: 200px;
	margin: 0 auto;
	padding: 30px;
	border-radius: 30px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 30px;
	margin-top: 50px;
	text-align: center;
	color: #353336;
	transition:all 0.5s ease;
	text-decoration: none;
}
.button:hover {
	box-shadow: inset 0 0 0 10px #c75325;
}
.a{
	height: 100vh;
}
.knopki{
	margin-left: 25%
}
.knopki2{
	margin-left: 15%
}
.phone{
	margin-top: 1px;
	font-size: 250%;
	text-align: center;
}
.button2 {
	background: #a00b38;
	display: block;
	width: 300px;
	margin: 0 auto;
	padding: 30px;
	border-radius: 30px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 30px;
	margin-top: 10px;
	text-align: center;
	color: #cccccc;
	transition:all 0.5s ease;
	text-decoration: none;
}
.button2:hover {
	box-shadow: inset 0 0 0 10px #58111d;
}
.mobile1{
	width: 300px;
	margin-top: 50px;
	margin-left: 500%;
}
.mobile2{
	width: 350px;
	margin-top: 50px;
	margin: 0 auto
}
#insruktion{
	background-color: #bb6544;
}
#instr{
	font-size: 300%;
	text-align: center;
	margin: 0;
	padding: 0;
}
.instr{
	text-align: center;
	font-size: 200%;
	padding-top: 25px;
	padding-bottom: 40px;
}

