@media screen and (max-width:1080px) and (min-width:100px){
	#header{
		background: url(../img/mobile-fooret.png) no-repeat; 
		height: 515px;
	}
	.title{
		font-size: 300%;
		margin-top: 1%;
	}
	.none{
		visibility: hidden;
		display: none;
	}
	.mobile1{
		width: 250px;
		margin-top: 5px;
		margin-left: 10%;
	}
	.a{
		height: 60%;
	}
	#pk-instr{
		visibility: hidden;
		display: none;
	}
}
@media screen  and (min-width:1250px){
	#mobile{
		visibility: hidden;
		
	}
	#mobile-instr{
		visibility: hidden;
		display: none;
	}
}
